
table, th, td {
    border: 1px solid;
    width: 50%;
    border-collapse: collapse;
}
td, th {
    height: 40px;
    text-align: left;
    vertical-align: bottom;
    padding: 15px;
}
th {
    color: white;
    background-color:green ;
}